@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--font-primary);
}

:root {
  --color-primary: #0142aa;
  --color-icons: #026ecc;
  --color-secondary: #a8d2f6;
  --color-background: #e0f0fe;

  --font-primary: "Quicksand", sans-serif;
}
